/* Portfolio
-----------------------------------------------------------------*/

.snap-slide {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snap-slide .main-img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    top: 0;
    left: 0;

    .cont {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        z-index: 99999;

        .tags {

            a {
                font-size: 14px;
                padding: 10px 20px;
                border: 1px solid rgba(255, 255, 255, 0.3);
                border-radius: 30px;
                margin: 0 5px;
            }
        }
    }

    .numb {
        position: absolute;
        bottom: 0;
        right: 5%;
        line-height: 1;
        font-size: 10vw;
        font-weight: 100;
        opacity: .2;
        z-index: 9999;
    }
}

.rounded-borders .snap-slide .main-img {
    border-radius: 0;
}

.snap-slide .img {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    height: 100%;
}

.snap-slide .img img,
.snap-slide .img .hero-video-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    z-index: 100;
    object-position: center;
    object-fit: cover;
}

.snap-slider-thumbs {
    position: absolute;
    top: 0;
    z-index: 5;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snap-slider-thumbs-wrapper::before {
    float: left;
    padding-top: 70%;
    content: "";
}

.snap-slider-thumbs-wrapper {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.rounded-borders .snap-slider-thumbs-wrapper {
    border-radius: 6px;
}

.thumb-slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.show-loader .thumb-slide {
    pointer-events: none;
}

.thumb-slide-img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hr-sec {

    .hr-container {
        width: max-content;
        display: flex;
        flex-wrap: nowrap;
    }

    .item-panel {
        width: 750px;
        height: 100%;
        padding: 0 15px;

        .see-more {
            position: absolute;
            top: 0;
            left: calc(100% + 15px);
            width: calc(100% - 15px);
            height: 100%;
        }
    }

    .fit-img {
        height: 70vh;
        min-height: 480px;
        border-radius: 30px;
        overflow: hidden;
        position: relative;

        .cont {
            position: absolute;
            bottom: 30px;
            left: 30px;

            .tags {
                overflow: hidden;

                span {
                    width: max-content;
                    display: block;
                    padding: 12px 20px;
                    background: #fff;
                    color: #0f0f0f;
                    border-radius: 10px;
                    margin: 5px 0;
                    transform: translateY(50px);
                    opacity: 0;
                    transition: all .4s;


                }
            }
        }

        &:hover {

            .cont {

                .tags {

                    span {
                        opacity: 1;
                        transform: translateY(0);

                        &:nth-of-type(2) {
                            transition-delay: .1s;
                        }

                        &:nth-of-type(3) {
                            transition-delay: .2s;
                        }

                        &:nth-of-type(4) {
                            transition-delay: .3s;
                        }
                    }
                }
            }
        }
    }
}

.portfolio-style1 {

    .item {
        position: relative;

        .img {
            position: relative;
            border-radius: 10px;
            height: 400px;
            overflow: hidden;

            img {
                height: 500px;
            }

            .tags {
                position: absolute;
                right: 15px;
                top: 15px;
                z-index: 7;

                a {
                    color: #fff;
                    font-size: 13px;
                    padding: 7px 15px;
                    border-radius: 30px;
                    background: rgba(0, 0, 0, 0.2);
                    backdrop-filter: blur(5px);
                    transition: all .4s;

                    &:hover {
                        background: $main-color;
                        color: #1f1f1f;
                    }
                }
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, #1f1f1f, transparent);
                opacity: .7;
            }
        }

        h6 {
            position: absolute;
            bottom: 20px;
            left: 20px;
            color: #fff;
            z-index: 3;
        }
    }
}

.portfolio-style2 {

    .item {

        .fit-img {
            position: relative;

            .tag {
                padding: 10px 20px;
                background: rgba(0, 0, 0, 0.3);
                backdrop-filter: blur(10px);
                border-radius: 30px;
                font-size: 14px;
                position: absolute;
                top: 15px;
                right: 15px;
                opacity: 0;
                transition: all .4s;
            }
        }

        &:hover {

            .fit-img {

                .tag {
                    opacity: 1;
                }
            }
        }
    }

    &.overlay {

        .item {
            position: relative;

            h6 {
                font-size: 30px;
                position: absolute;
                bottom: 30px;
                left: 30px;
                opacity: 0;
                transform: translateY(30px);
                transition: all .4s;
                z-index: 3;
            }

            .tag {
                z-index: 3;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, $main_bg, transparent);
                border-radius: 30px;
                opacity: 0;
                transition: all .4s;
            }

            &:hover {

                .tag,
                h6 {
                    opacity: 1;
                    transform: translate(0);
                }

                &:after {
                    opacity: .5;
                }
            }
        }
    }

    .portfolio-vertical {
        padding: 40px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient($sub_bg , transparent, $sub_bg);
            z-index: 5;
            pointer-events: none;
        }

        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-wrapper {
            flex-direction: column;
        }

        .swiper-slide {
            font-size: 40px;
            font-weight: 500;
            display: flex;
            align-items: center;
            opacity: .5;
            transition: opacity .4s;

            &.swiper-slide-active {
                opacity: 1;
            }
        }
    }
}

.portfolio-style3 {

    .lg-text {

        h2 {
            font-size: 22vw;
        }
    }

    .item {
        position: relative;

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background: linear-gradient(to top, rgba(0, 0, 0, .3), transparent);
        }

        .tags {
            position: absolute;
            top: 30px;
            right: 30px;
            z-index: 2;

            span {
                padding: 10px 20px;
                background: rgba(40, 40, 40, 0.3);
                backdrop-filter: blur(10px);
                border-radius: 30px;
                font-size: 14px;
            }
        }

        .text {
            position: absolute;
            bottom: 50px;
            left: 50px;
            z-index: 2;

            &.w-100 {
                left: 0;
            }
        }
    }
}

.portfolio-crev {

    .work-boxs {
        display: flex;
    }

    .item {
        width: 33.333%;
        max-height: 90vh;
        height: 600px;
        margin: 0 4px;
        display: flex;
        cursor: pointer;
        transition: all .4s;

        .bg-img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            position: relative;
            border-radius: 10px;
            overflow: hidden;

            .cont {
                position: absolute;
                left: 30px;
                bottom: 30px;
                right: 30px;
                padding: 20px;
                border-radius: 10px;
                background: #fff;
                color: #0f0f0f;
                opacity: 0;
                visibility: hidden;
                transition: all .4s;

                &.dark-st {

                    h5,
                    span {
                        background: #0f0f0f;
                    }
                }

                h5,
                span {
                    transform: translateY(15px);
                    opacity: 0;
                    transition: all .4s;
                    transition-delay: 0;
                }

                h5 {
                    text-decoration: underline;
                    margin-bottom: 10px;
                }

                span {
                    color: #494949;
                }
            }
        }

        &.active {
            width: calc(100vw - 140px*3);

            .bg-img {

                .cont {
                    opacity: 1;
                    visibility: visible;

                    h5,
                    span {
                        transform: none;
                        opacity: 1;
                    }

                    h5 {
                        transition-delay: .3s;
                    }

                    span {
                        transition-delay: .6s;
                    }
                }
            }
        }
    }

}

.portfolio-elegant {

    .work-boxs {
        display: flex;
    }

    .item {
        width: 25%;
        margin: 0 5px;
        display: flex;
        cursor: pointer;
        transition: all .7s;

        .bg-img {
            width: 100%;
            height: 550px;
            background-size: cover;
            background-position: center center;
            position: relative;
            overflow: hidden;
        }

        .cont {
            padding: 0 15px;
            transition: all .4s;

            h6 {
                font-size: 18px;
            }

            span {
                opacity: 0;
                transition: all .4s;
                color: #ccc;
            }

            &.hide {
                opacity: 0;
                visibility: hidden;
            }
        }

        &.active {
            width: calc(100vw - 140px*3);

            .cont {
                opacity: 1 !important;
                visibility: visible;

                span {
                    opacity: 1;
                }
            }
        }
    }
}

.parallax-slider-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .parallax-sliders {
        position: absolute;
        top: 0;
        left: 0;
        width: 3800px;
        height: 100%;
    }

    .parallax-slider-inner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 80%;
        width: 100%;
        display: flex;
        gap: 30px;
        left: 70px;
        margin-top: 15px;
    }

    .parallax-item {
        position: relative;
        width: 500px;
        height: 100%;
        border-radius: 50px;
        overflow: hidden;

        &:hover {
            & .parallax-content {
                bottom: 0;
                opacity: 1;
                visibility: visible;
            }

            & .parallax-img {
                &::after {
                    opacity: 1;
                    height: 100%;
                    visibility: visible;
                }
            }
        }
    }

    .parallax-content {
        color: #fff;
        position: absolute;
        bottom: -100px;
        left: 0;
        z-index: 55;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        margin: 40px 40px 30px 35px;
        transition: .4s;

        & span {
            font-size: 18px;
            text-transform: uppercase;
            line-height: 1;
            display: block;
            margin-bottom: 10px;
        }

        & h4 {
            font-size: 40px;
            line-height: 1;
            padding-bottom: 10px;
            letter-spacing: -2px;

        }
    }

    .parallax-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 800px;
        background-size: cover;
        background-position: center;
        margin-left: -100px;

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            opacity: 0;
            visibility: hidden;
            transition: .4s;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
}

.showcase-full {
    position: relative;

    .parallax-slider-full {

        .caption {
            position: relative;

            h1 {
                font-size: 110px;
                position: relative;
                line-height: 1.2;
            }
        }

        .swiper-slide-active {

            .caption {

                .discover {
                    opacity: 1;
                    transition: all .7s;
                }
            }
        }
    }

    .swiper-slide {
        position: relative;
        overflow: hidden;
        width: 100%;
        min-height: 100vh;
        padding: 80px 0;

        .bg-img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-size: cover;
            background-position: center center;
        }
    }

    .caption {

        h6 {
            font-size: 20px;
            font-weight: 400;
        }
    }

    .slider-contro {
        position: absolute;
        bottom: 60px;
        left: 80px;
        width: calc(100% - 160px);

        i {
            margin: 0 10px;
            color: #fff;
        }

        span {
            color: #fff;
            white-space: nowrap;
        }
    }

    .dots {
        bottom: 50px;
        z-index: 1;

        span {
            background: #fff;
            width: 5px;
            height: 5px;
            margin: 0 7px !important;
            border-radius: 50% !important;

            &.swiper-pagination-bullet-active {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: -5px;
                    left: -5px;
                    right: -5px;
                    bottom: -5px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                }
            }
        }
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: none;
    }
}

.hero-style5-showcase {

    .snap-slide .img,
    .snap-slide .hero-video-wrapper {
        height: 100%;
    }

    .snap-slide .main-img .numb {
        font-size: 120px;
        font-weight: 300;
    }

    .snap-slider-thumbs-wrapper {
        width: 320px;
        height: 350px;
        border-radius: 100px;
        box-shadow: none;
    }

    .snap-slide-caption {
        padding: 10px 0;
    }

    .snap-slider-captions {
        position: absolute;
        top: 0;
        z-index: 99;
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        padding-bottom: 50px;
        overflow: hidden;
        display: flex;
        align-items: flex-end;

        h1 {
            font-size: 64px;
        }

        span {
            font-size: 18px;
        }

        .tag {
            font-size: 14px;
            padding: 9px 20px;
            border: 1px solid rgba(255, 255, 255, .8);
            background: rgba(187, 187, 187, 0.08);
            backdrop-filter: blur(10px);
            border-radius: 30px;
        }
    }

    .snap-slider-captions-wrapper {
        width: 100%;
        height: 90px;
        display: block;
        position: relative;
        overflow: hidden;
    }
}

.inter-links-center {
    position: relative;
    min-height: 100vh;
    padding: 120px 0;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .links-text {

        li {
            padding: 30px 0;
            width: max-content;
            position: relative;
            z-index: 9;

            .text {
                transition: all .4s;
                -webkit-text-stroke: 1px transparent;
            }

            &.no-active {
                opacity: .3;

                .text {
                    color: transparent;
                    -webkit-text-stroke: 1px #fff;
                }
            }

            h2 {
                text-transform: uppercase;

                a {

                    .tag {
                        font-size: 14px;
                        display: block;
                        font-weight: 400;
                    }

                    .text {
                        font-weight: 800;
                        font-size: 80px;
                        letter-spacing: -4px;
                    }
                }

                .num {
                    font-size: 14px;
                    font-weight: 600;
                    opacity: .7;
                    margin-right: 15px;
                }
            }
        }
    }

    .links-img {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.1);
        }

        .img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transform: scale(1.1, 1.1);
            transition: all .7s;

            &.current {
                transform: scale(1);
                opacity: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.link-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}